@charset "UTF-8";

.input-carrinho{
	width: 25%;
	text-align: center;
}

.modal-carrinho{
	position: relative;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
    width: 80%;
	height:80%;
}

.btn-carrinho{
    width: 10%;
	font-weight: bold;
	/*font-size: 95%;*/
	padding:5px 2px;
	/*margin: -25px 0px 22px;*/
}


.modal-body-button{
	display: block;
	margin-right: auto;
	margin-left: 99px;
}

.modal-body-quantity{
	display: block;
	margin-left: 160px;	
	margin-bottom: 20px;
}